<%= stylesheet_link_tag "games/home" %>


<h2><%= @game.white_team.first_name %> VS <%= @game.black_team.first_name %></h2>
<h5>Last move was at: <%= @game.updated_at %></h5>

<% @board.each do |rank| %>
  <table>
    <% rank.each do |file| %>
    <tr>
      <% if file.nil? %>
      |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% else %>
      | <%= file.board_marker %>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @game.player_turn == current_user.id %>
  <%= form_tag( game_input_path( @game ), method: "post" ) do %>
    <%= label_tag( :piece_location, "Select the piece you want to move:" ) %>
    <%= text_field_tag( :piece_location, '', placeholder: "ex: a4", size: 5 ) %></br>
    <%= label_tag( :target_location, "Select the location you want to move the piece to:" ) %>
    <%= text_field_tag( :target_location, '', placeholder: "ex: d6", size: 5 ) %>
    <%= radio_button_tag( :en_passant, "e.p." ) %>
    <%= label_tag( :en_passant, "en_passant" ) %></br>
    <p>Or select a castle move</p>
    <%= radio_button_tag(:castle, "0-0-0") %>
    <%= label_tag(:queen_side_castle, "Queen side castle") %>
    <%= radio_button_tag(:castle, "0-0") %>
    <%= label_tag(:king_side_castle, "King side castle") %>
    <%= submit_tag( "Submit Move" ) %>
  <% end %>
  <% else %>
  <p>Waiting for your opponent to move.</p>
<% end %>

<%= link_to "Back", user_path( current_user ) %>