<%= stylesheet_link_tag "games/home" %>


<h2><%= @game.white_team.first_name %> VS <%= @game.black_team.first_name %></h2>
<h5>Last move was at: <%= @game.updated_at %></h5>

<% @board.each do |rank| %>
  <table>
    <% rank.each do |file| %>
    <tr>
      <% if file.nil? %>
      |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% else %>
      | <%= file.board_marker %>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @game.player_turn == current_user.id %>
  <%= form_tag(game_input_path( @game ), method: "post") do %>
    <%= label_tag(:user_input, "Input command:") %>
    <%= text_field_tag(:user_input) %>
    <%= check_box_tag(:en_passant) %>
    <%= label_tag(:en_passant, "en_passant") %>
    <%= submit_tag("Submit Move") %>
  <% end %>
  <% else %>
  <p>Waiting for your opponent to move.</p>
<% end %>

<%= link_to "Back", user_path( current_user ) %>